<main>
  <header
    class="w-full flex min-[300px]:flex-col min-[500px]:flex-row min-[300px]:justify-center min-[500px]:justify-end align-middle gap-2 py-1 px-4 border-b-2 border-gray-200"
  >
    <p class="text-center align-middle self-center">{{login}}</p>
    {{#if isAdmin}}
      <p class="text-center align-middle self-center">{{role.code}}</p>
    {{/if}}
    <a
      class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
      href="/create"
    >Создать заявку</a>
    <a
      class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
      href="/"
    >Просмотр заявок</a>
    <button
      hx-trigger="click"
      hx-post="/logout"
      hs-redirect="login"
      class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
    >Выйти</button>
  </header>
  <div
    hx-get="/requests"
    hx-trigger="load"
    hx-swap="innerHTML"
    hx-400="#message"
    class="flex flex-row flex-wrap gap-3 justify-center mt-5"
  ></div>
  <div id="message" class="absolute bottom-0 left-0 right-0"></div>
</main>