<main>
  <div class="w-[100vw] h-[100vh] flex items-center justify-center">
    <form
      hx-trigger="submit"
      hx-post="/login"
      hx-target="#message"
      hs-redirect="/"
      hx-swap="outerHTML"
      class="flex w-[40vw] min-w-[320px] flex-col h-fit p-6 rounded-xl border-0 bg-gray-300 gap-3 bg-opacity-20 backdrop-blur"
    >
      <h3 class="text-3xl">Авторизация</h3>
      <div>
        <label for="login">Почта</label>
        <input
          type="text"
          placeholder="Введите логин"
          id="login"
          name="login"
          class="transition-colors flex h-8 w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none hover:border-gray-400 focus-visible:border-gray-400"
          required
        />
      </div>

      <div>
        <label for="password">Пароль</label>
        <input
          type="password"
          placeholder="Введите пароль"
          name="password"
          id="password"
          class="transition-colors flex h-8 w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none hover:border-gray-400 focus-visible:border-gray-400"
          required
        />
      </div>

      <button
        class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
        type="submit"
      >Войти</button>
      <a
        class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
        href="/register"
      >Зарегистрироваться</a>
    </form>
  </div>
  <div id="message" class="absolute bottom-0 left-0 right-0"></div>
</main>