<main>
  <div class="w-[100vw] h-[100vh] flex items-center justify-center">
    <form
      hx-trigger="submit"
      hx-post="/registration"
      hx-target="#message"
      hx-swap="outerHTML"
      class="flex w-[40vw] min-w-[320px] flex-col h-fit p-6 rounded-xl border-0 bg-gray-300 gap-3 bg-opacity-20 backdrop-blur"
    >
      <h3 class="text-3xl">Регистрация</h3>
      <div>
        <label for="full_name">ФИО</label>
        <input
          type="text"
          placeholder="Ивано Иван Иванович"
          class="transition-colors flex h-8 w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none hover:border-gray-400 focus-visible:border-gray-400"
          name="full_name"
          id="full_name"
          required
        />
      </div>
      <div>
        <label for="phone">Телефон</label>
        <input
          type="tel"
          placeholder="91111111111"
          min="11"
          max="11"
          class="transition-colors flex h-8 w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none hover:border-gray-400 focus-visible:border-gray-400"
          name="phone"
          id="phone"
        />
      </div>
      <div>
        <label for="login">Логин</label>
        <input
          type="text"
          placeholder="user"
          class="transition-colors flex h-8 w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none hover:border-gray-400 focus-visible:border-gray-400"
          name="login"
          id="login"
        />
      </div>
      <div>
        <label for="password">Пароль</label>
        <input
          type="password"
          placeholder="Введите пароль"
          class="transition-colors flex h-8 w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none hover:border-gray-400 focus-visible:border-gray-400"
          name="password"
          id="password"
          required
        />
      </div>
      <button
        type="submit"
        class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
      >Зарегистрировать</button>
      <a
        class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
        href="/login"
      >Войти</a>
    </form>
  </div>
  <div id="message" class="absolute bottom-0 left-0 right-0"></div>
</main>