<main>
  <header
    class="w-full flex min-[300px]:flex-col min-[500px]:flex-row min-[300px]:justify-center min-[500px]:justify-end align-middle gap-2 py-1 px-4 border-b-2 border-gray-200"
>
  <p class="text-center align-middle self-center">{{login}}</p>
  {{#if isAdmin}}
    <p class="text-center align-middle self-center">{{role.code}}</p>
  {{/if}}
  <a
    class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
    href="/create"
  >Создать заявку</a>
  <a
    class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
    href="/"
  >Просмотр заявок</a>
  <button
    hx-trigger="click"
    hx-post="/logout"
    hs-redirect="login"
    class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
  >Выйти</button>
</header>
<div class="w-full h-full flex flex-col justify-center items-center">
  <form
    hx-trigger="submit"
    hx-post="/create"
    hx-target="#message"
    hs-redirect="/"
    hx-swap="outerHTML"
    class="flex w-[40vw] min-w-[320px] flex-col h-fit p-6 rounded-xl border-0 bg-gray-300 gap-3 bg-opacity-20 backdrop-blur"
  >
    <h3 class="text-3xl">Создание заявки</h3>
    <div>
      <label for="master_id">Мастер</label>
      <select
        id="master_id"
        name="master_id"
        class="transition-colors flex h-8 w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none hover:border-gray-400 focus-visible:border-gray-400"
        required
      >
        {{#each options}}
        {{>master-option option=.}}
        {{/each}}
      </select>
    </div>
    <div>
      <label for="booking_datetime">Дата и время бронирования</label>
      <input
        type="datetime-local"
        id="booking_datetime"
        name="booking_datetime"
        class="transition-colors flex h-8 w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-gray-500 focus-visible:outline-none hover:border-gray-400 focus-visible:border-gray-400"
        required
      />
    </div>
    <button
      class="outline-none p-1 transition-colors inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium bg-gray-950 text-white hover:bg-gray-800"
      type="submit"
    >Создать</button>
  </form>
</div>
<div id="message" class="absolute bottom-0 left-0 right-0"></div>
</main>